<footer class="footer">
  <style>
  /* .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    } */
  </style>
  <p>Copyright: {{getCurrentYear}}. </p>
  <audio id="round-win-audio" src="sounds/win.wav"></audio>
  <audio id="round-tie-audio" src="sounds/tie.wav"></audio>
  <audio id="round-loss-audio" src="sounds/loss.wav"></audio>
</footer>
