<!DOCTYPE html>
<html>
{{>header}}

<body>
  <!-- STYLING THE PAGE  -->

  <style>
    body {
      position: relative;
      margin: 0;
      padding-bottom: 6rem;
      min-height: 100%;
    }

    .text {
      background-color: lightgrey;
      width: auto;
      border: 5px solid black;
      padding: 25px;
      margin: 20px;
    }

    .text img {
      max-width: 50%;
      max-height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .wrapper {
      text-align: center;
    }

    .button {
      /* position: absolute; */
      background: lightgrey;
      padding: 0.7em;
      padding: 25px;
      margin: 20px;
      width: 150px;
      border: 0;
      /* float : right; */
      display: inline-block;
    }

    .button:hover {
      background: gold;
    }

    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0.2rem;
      background-color: #efefef;
      text-align: center;
    }
  </style>

  <!-- HTML for the Instructions page  -->

  <div class="text">You are about to start playing the first game of Rock Paper Scissors. You are the "Human" player on
    the left, and you can select a "weapon" by clicking on
    one of the 3 icons. The computer will select a weapon of its choice as well and the results will be displayer for
    each round. The rules of the game are explained in the picture below.
    Your task in this game is to win as many points as possible against the computer.
    <br />
    <br />
    <img id="gameRules" class="img" src="pics/RPS_rules.png">
    <br />
    <br />
    This first game will consist in two phases. The first phase is for getting familiar with the game interface, and
    will consist of 15 rounds.
    After the end of this practice phase, you will be alerted to the start of the game and the scores will be
    reinitiliased at 0. You will play a total of XXX rounds of this game.
    Your computer opponent's choices in the game are not random. They rely on rules that if uncovered can give you an
    edge in this game.
  </div>
  <div class="wrapper">
    <button class="button" id="instructions"> Proceed to Game </button>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/libs/jquery-3.3.1.min.js"></script>
  <script>
    $('#instructions').click(function () {
      window.location.href = "/game";
    });
  </script>
  <div class="footer"> {{>footer}} </div>
</body>

</html>